html,
body {
    height: 60vh;
}

.box {
    border: 2px solid black;
    width: 150px;
    height: 150px;
}

/* .container .row .col-md-4 {
    height: 100vh;
    overflow: auto;
} */

a {
    all: unset;
}

button {
    margin: 10px;
}

#time {
    font-size: 50px;
    text-align: center;
    border: 0px;
}
